{erl_opts, [debug_info]}.
{deps, []}.
{dialyzer, [{warnings, [unmatched_returns,
                        no_return,
                        no_unused,
                        no_fun_app,
                        no_improper_lists,
                        no_match,
                        no_fail_call,
                        no_contracts,
                        no_behaviours,
                        no_missing_calls,
                        no_undefined_callbacks,
                        error_handling,
                        race_conditions,
                        underspecs,
                        unknown]}]}.
